@model ProjetoBackend.Models.Categoria

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">

    <h2 class="Titulos">Deseja excluir essa categoria?</h2>
    <div>


        <div class="col-10 col-md mt-4">
        </div>
        <dl class="row">
            <dt class="col-sm-2 Titulos">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-sm-10 Titulos">
                @Html.DisplayFor(model => model.Nome)
            </dd>
        </dl>
        <div class="row">

            <div class="col col-md-4 mt-4">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="CategoriaId" />
                    <input type="submit" value="Delete" class="btn btnSalVol" />
                </form>
            </div>
            <div class="col-10 col-md mt-4">
            </div>
            <div class="col col-md-4 mt-4">
                <a class="btn btnSalVol " asp-action="Index">Voltar</a>
            </div>

        </div>
    </div>
</div>
