@model ProjetoBackend.Models.Categoria

@{
    ViewData["Title"] = "Details";
}
<div class="container mt-5">

    <h2 class="Titulos">Detalhes da Categoria</h2>

    <div class="col-10 col-md mt-4">
    </div>
    <div>

        <dl class="row">
            <dt class="col-sm-2 Titulos">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dt class="col-sm-2 Titulos">
                @Html.DisplayFor(model => model.Nome)

        </dl>
    </div>
    <div class="row">
        <div class="col col-md-4 mt-4">
            <a class="btn btnSalVol " asp-action="Index">Voltar</a>
        </div>
        <div class="col-10 col-md mt-4">
        </div>
        <div class="col col-md-1 mt-4">
            <a class="btn btnSalVol" asp-action="Edit" asp-route-id="@Model?.CategoriaId">Editar</a>
        </div>
    </div>

</div>
