@model ProjetoBackend.Models.Categoria

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">

    <h2 class="Titulos">Editar Categoria</h2>

    <div class="col-10 col-md mt-4">
    </div>

    <div class="row">
        <div class="col-12 col-md-4 mt-2 Titulos">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CategoriaId" />
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col col-md-4 mt-4">
                <a class="btn btnSalVol" asp-action="Index">Voltar</a>
            </div>
            <div class="col-10 col-md mt-4">
            </div>
            <div class="col col-md-1 mt-4">
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btnSalVol" />
                </div>
            </div>
        </div>


    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
