@{
    ViewData["Title"] = "Página Inicial";
}

<div class="conteudoHome">

    <div class="imgEsquerda">
        <img src="~/img/patinho.png" alt="Desenho de uma mãe pato, olhando para seu filho patinho que ela está carrregando em cima de suas costas" width="300" height="300" class="" />
    </div>


    <div class="text-center textoPI">
        <p>
            Bem-vinda à Nuvem de Algodão, o lugar feito especialmente para você, mamãe! Aqui, cada detalhe é pensado com carinho para tornar sua jornada de maternidade leve e especial. Nosso compromisso é com a qualidade e o conforto tanto para você quanto para o seu bebê.
        </p>
        <p>
            Na Nuvem de Algodão, oferecemos produtos escolhidos com amor e cuidado para essa fase única da vida. Desde itens que proporcionam conforto à mamãe até o bem-estar dos pequenos, cada escolha reflete nossa dedicação em acolher e apoiar.
        </p>
        <p>
            Venha fazer parte desse sonho conosco e aproveite a experiência Nuvem de Algodão.
        </p>
    </div>

    <div class="imgDireita">
        <img src="~/img/abelinha.png" alt="Desenho de uma abelha" width="300" height="300" class="" />
    </div>

</div>