@{
    ViewData["Title"] = "Sobre nós";
}

<div class="m-0 p-0" style="background-image: url('/img/fundoSN.jpg')">

    <h1 class="text-center p-5" style="font-size:60px;color: #493628;">Sobre Nós</h1>


    <div id="GabiDesktop" class="d-none d-md-flex row w-100 justify-content-center align-items-center flex-column-reverse flex-md-row">
        <p class="col-12 col-md-9 ms-md-5 p-md-5 rounded rounded-5" style="background: #D6C0B3;padding-right:120px!important;text-align: justify;">
            Gabriela, é a mente criativa e estratégica por trás da conexão entre a Nuvem de Algodão e o público. Com um olhar aguçado para inovação e marketing, ela vai além de simplesmente divulgar nossas ideias, Gabriela garante que cada mensagem, campanha ou novidade chegue até você com autenticidade, clareza e uma pitada de carinho. Sua dedicação faz com que nossos projetos sejam não apenas compreendidos, mas também apreciados, criando uma experiência envolvente e próxima. É graças à sua sensibilidade e visão que conseguimos transformar ideias em conexões reais, aproximando ainda mais a Nuvem de Algodão de quem valoriza nossos ideais.
        </p>

        <div class="col-12 col-md-2 z-1" style="margin-left:-100px;">
            <img class="rounded-circle z-1 border border-3 object-fit-cover" style="border-color:#493628!important" width="300px" height="300px" src="~/img/Gabi.jpg" alt="Foto em formato circular de uma jovem que está posando para uma foto com uma expressão suave e um leve sorriso. Ela veste uma blusa ombro a ombro com estampa floral em tons suaves, que complementa o visual delicado. O cabelo está meio preso, com alguns fios soltos ao redor do rosto, deixando o foco em sua expressão e nas feições naturais. O fundo da imagem é neutro, sem distrações, destacando ainda mais o rosto e o estilo dela. A iluminação é suave, dando um toque sutil e harmonioso à imagem." />
        </div>
    </div>



    <div id="GabiMobile" class="d-md-none m-0 p-0 d-flex row w-100 justify-content-center align-items-center flex-column-reverse flex-md-row p-5 pt-0">
        <p class="col-12 rounded rounded-5 p-4" style="background: #D6C0B3;text-align: justify;margin-top:-180px;padding-top:200px!important">
            Gabriela, é a mente criativa e estratégica por trás da conexão entre a Nuvem de Algodão e o público. Com um olhar aguçado para inovação e marketing, ela vai além de simplesmente divulgar nossas ideias, Gabriela garante que cada mensagem, campanha ou novidade chegue até você com autenticidade, clareza e uma pitada de carinho. Sua dedicação faz com que nossos projetos sejam não apenas compreendidos, mas também apreciados, criando uma experiência envolvente e próxima. É graças à sua sensibilidade e visão que conseguimos transformar ideias em conexões reais, aproximando ainda mais a Nuvem de Algodão de quem valoriza nossos ideais.
        </p>

        <div class="col-12 z-1 d-flex justify-content-center w-100" style="">
            <img class="rounded-circle z-1 border border-3 object-fit-cover" style="border-color:#493628!important" width="300px" height="300px" src="~/img/Gabi.jpg" alt="Foto em formato circular de uma jovem que está posando para uma foto com uma expressão suave e um leve sorriso. Ela veste uma blusa ombro a ombro com estampa floral em tons suaves, que complementa o visual delicado. O cabelo está meio preso, com alguns fios soltos ao redor do rosto, deixando o foco em sua expressão e nas feições naturais. O fundo da imagem é neutro, sem distrações, destacando ainda mais o rosto e o estilo dela. A iluminação é suave, dando um toque sutil e harmonioso à imagem." />
        </div>
    </div>



    <div class="row w-100 justify-content-center align-items-center flex-row-reverse">
        <p class="col-9 me-5 p-5 rounded rounded-5 z-0" style="background: #D6C0B3;padding-left:120px!important;text-align: justify;">
            Livia, com sua vasta experiência em gestão e atendimento, é a pessoa que garante que cada detalhe da Nuvem de Algodão funcione com excelência. Desde o desenvolvimento e manutenção do site até o cuidado com a satisfação de cada cliente, ela supervisiona cada processo com precisão e dedicação. Seu compromisso vai além de uma boa gestão, Livia coloca o cliente no centro de tudo, assegurando que a experiência com a Nuvem de Algodão seja fluida, agradável e, acima de tudo, memorável. Sua atenção minuciosa e paixão pelo que faz são o que tornam cada interação uma experiência única e especial para o público.
        </p>
        <div class="col-2 z-1" style="margin-right:-100px;">
            <img class="rounded-circle z-1 border border-3 object-fit-cover" style="border-color:#493628!important" width="300px" height="300px" src="~/img/Livia.jpg" alt="Foto em formato circular de uma jovem está tirando uma selfie casual em frente a um espelho. Ela usa uma camiseta escura, com uma expressão serena no rosto. Seus cabelos cacheados, volumosos e escuros, estão soltos e emolduram o rosto de forma natural. No fundo, é possível ver detalhes do quarto, como uma prateleira com objetos e uma pintura na parede que parece ser uma palavra em escrita cursiva. A iluminação é suave, e a foto parece ter um filtro que deixa as cores mais quentes e suaves." />
        </div>
    </div>

    <div class="row w-100 justify-content-center align-items-center flex-column-reverse flex-md-row">
        <p class="col-12 col-md-9 ms-md-5 p-md-5 rounded rounded-5" style="background: #D6C0B3;padding-right:120px!important;text-align: justify;">
            Ana Clara, com sua visão criativa e refinada, é a responsável por toda a estratégia visual da Nuvem de Algodão. Ela cuida da identidade da marca com atenção e carinho, garantindo que cada detalhe, cor, e forma reflitam nossa essência de forma autêntica e marcante. Desde as escolhas estéticas até o alinhamento dos elementos visuais, Ana Clara se dedica a criar uma experiência visual que traduz os valores da marca e estabelece uma conexão profunda com o público. Sua paixão pela arte e pelo design é o que traz vida à nossa marca, tornando-a inesquecível.
        </p>

        <div class="col-12 col-md-2 z-1" style="margin-left:-100px;">
            <img class="rounded-circle z-1 border border-3 object-fit-cover" style="border-color:#493628!important" width="300px" height="300px" src="~/img/Ana.jpg" alt="Foto em formato circular de uma jovem tirando uma selfie em frente a um espelho. Ela está usando um bory preto de alça única e usa acessórios como um brinco de argola, um relógio prateado e um bracelete dourado no braço. Ela está fazendo uma expressão fofa, com os lábios levemente projetados em um biquinho, olhando para o lado. Ao fundo, há alguns objetos decorativos, como uma prateleira com itens e uma almofada listrada. A luz da foto é suave, destacando seu rosto e o look." />
        </div>
    </div>

    <div class="w-100 d-flex justify-content-center">
        <img class="object-fit-cover z-3" style="margin-bottom:-60px !important" width="100px" height="200px" src="~/img/ursoSobreNós.png" />
    </div>
</div>
