@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
}

<div class="row justify-content-center align-items-center marginTop gap-8">
    <div class="col-3 login">
        <section>
            <form id="account" method="post">
                <h2 style="color: rgba(0, 0, 0, 0.5);">Entrar</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border-radius: 15px" />
                    <label asp-for="Input.Email" class="form-label">E-mail</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" style="border-radius: 15px" />
                    <label asp-for="Input.Password" class="form-label">Senha</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        Lembre de mim
                    </label>
                </div>

                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary btnLogin">
                    Entrar
                </button>

                <div class="d-flex justify-content-around mt-4">
                    <hr />
                    <p class="text-center" style="color: rgba(0, 0, 0, 0.5); padding: 10px 10px"> OU </p>
                    <hr />
                </div>


                <div class="d-flex justify-content-between gap-5">
                    <a id="login-submit" class="btn btn-lg btn-primary w-100 me-2 btnLogin" asp-area="Identity" asp-page="/Account/Register">Cadastra-se</a>


                    <a id="forgot-password" class="btn btn-lg btn-primary w-100 me-2 btnLogin" asp-area="Identity" asp-page="/Account/ForgotPassword">Esqueceu a senha?</a>

                </div>

                <p class="text-center" style="color: rgba(0, 0, 0, 0.5); padding: 10px 10px"> Ao se cadastrar ou realizar o login, você concorda com os Termos, Condições e Políticas da Nuvem de Algodão e Política de Privacidade.</p>

            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<slan>
    <img src="~/img/coelhoentrar.png" alt="Desenho de um coelhinho voando através de 3 balões no ar que ele está segurando" width="40" height="350" class="col-2 ms-10 imgCd" />
</slan>