@page
@model RegisterModel
@{
    ViewData["Title"] = "Cadastrar";
}



<div class="row justify-content-center align-items-center marginTop ">

    <div class="col-3 login">


        <form id="registerForm" method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <h2 style="color: rgba(0, 0, 0, 0.5)">Cadastrar</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Nome" type="text" class="form-control" placeholder="Nome completo" style="border-radius: 15px" />
                <label asp-for="Input.Nome">Nome completo</label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input id="cpf" asp-for="Input.CPF" type="text" class="form-control" placeholder="CPF" style="border-radius: 15px" maxlength="14" />
                <label asp-for="Input.CPF">CPF</label>
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input id="celular" asp-for="Input.Telefone" type="text" class="form-control" placeholder="Telefone" maxlength="15" style="border-radius: 15px" />
                <label asp-for="Input.Telefone">Telefone</label>
                <span asp-validation-for="Input.Telefone" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Email" type="email" class="form-control" placeholder="E-mail" style="border-radius: 15px" />
                <label asp-for="Input.Email">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.Password" type="password" class="form-control" placeholder="Senha" style="border-radius: 15px" />
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" type="password" class="form-control" placeholder="Confirmar senha" style="border-radius: 15px" />
                <label asp-for="Input.ConfirmPassword">Confirmar senha</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary btnLogin">Cadastrar</button>
        </form>
        <div>
            <p class="text-center m-0 p-2 pb-0" style="color: rgba(0, 0, 0, 0.5);">
                Ao se cadastrar ou realizar o login, você concorda com os Termos, Condições e Políticas da Nuvem de Algodão e Política de Privacidade.
            </p>
        </div>
    </div>
</div>





@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const celInput = document.getElementById("celular");

        celInput.addEventListener("input", function () {
            let value = celInput.value.replace(/\D/g, ""); // Remove caracteres não numéricos

            // Aplica a máscara no formato (99) 99999-9999
            value = value.replace(/^(\d{2})(\d)/, "($1) $2");
            value = value.replace(/(\d{5})(\d)/, "$1-$2");

            celInput.value = value;
        });


        const cpfInput = document.getElementById("cpf");

        cpfInput.addEventListener("input", function () {
            let value = cpfInput.value.replace(/\D/g, ""); // Remove caracteres não numéricos

            // Aplica a máscara no formato 999.999.999-99
            value = value.replace(/(\d{3})(\d)/, "$1.$2");
            value = value.replace(/(\d{3})(\d)/, "$1.$2");
            value = value.replace(/(\d{3})(\d{1,2})$/, "$1-$2");

            cpfInput.value = value;
        });
    });

</script>


<slan>
    <img src="~/img/coelhocadastrar.png" alt="Desenho de um coelhinho branco com as orelhas para baixo, segurando uma grande tulipa rosa para cima"
         width="10" height="400" class="col-2 ms-10 imgCd" />
</slan>