@page
@model RegisterModel
@{
    ViewData["Title"] = "Cadastrar";
}



<div class="row justify-content-center align-items-center marginTop ">

    <div class="col-3 login">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2 style="color: rgba(0, 0, 0, 0.5)">Cadastrar</h2>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Nome" type="text" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="border-radius: 15px" />
                <label asp-for="Input.Nome">Nome completo</label>
                <span asp-validation-for="Input.Nome" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" style="border-radius: 15px" />
                <label asp-for="Input.Password">Senha</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input id="cpf" asp-for="Input.CPF" type="text" class="form-control"
                       autocomplete="cpf" aria-required="true" placeholder="cpf"
                       style="border-radius: 15px" maxlength="14" />
                <label asp-for="Input.CPF">CPF</label>
                <span asp-validation-for="Input.CPF" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" style="border-radius: 15px" />
                <label asp-for="Input.Email">E-mail</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-cd btn-primary btnCadastrar">
                Entrar
            </button>
            <div>
                <p class="text-center" style="color: rgba(0, 0, 0, 0.5);  padding: 10px 10px">
                    Ao se cadastrar ou realizar o login, você concorda com os Termos, Condições e Políticas da Nuvem de Algodão e Política de Privacidade.
                </p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cpfInput = document.getElementById("cpf");

        cpfInput.addEventListener("input", function () {
            let value = cpfInput.value.replace(/\D/g, ""); // Remove caracteres não numéricos

            // Aplica a máscara no formato 999.999.999-99
            value = value.replace(/(\d{3})(\d)/, "$1.$2");
            value = value.replace(/(\d{3})(\d)/, "$1.$2");
            value = value.replace(/(\d{3})(\d{1,2})$/, "$1-$2");

            cpfInput.value = value;
        });
    });
</script>


<slan>
    <img src="~/img/coelhocadastrar.png" alt="Desenho de um coelhinho branco com as orelhas para baixo, segurando uma grande tulipa rosa para cima"
         width="10" height="400" class="col-2 ms-10 imgCd" />
</slan>