@model ProjetoBackend.Models.Venda

@{
    ViewData["Title"] = "Edit";
}

<div class="container mt-5">

    <h2 class="Titulos">Editar Venda</h2>
    <div class="col-10 col-md mt-4">
    </div>
    <div class="row">
        <div class="col-12 col-md-7 mt-2 Titulos">
            <input type="hidden" asp-for="VendaId" />
            <div class="form-group">
                <label asp-for="NotaFiscal" class="control-label"></label>
                <input asp-for="NotaFiscal" class="form-control" />
                <span asp-validation-for="NotaFiscal" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-md-5 mt-2 Titulos">
            <div class="form-group">
                <label asp-for="ClienteId" class="control-label"></label>
                <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.ClienteId"></select>
                <span asp-validation-for="ClienteId" class="text-danger"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-5 mt-2 Titulos">
                <div class="form-group">
                    <label asp-for="DataVenda" class="control-label"></label>
                    <input asp-for="DataVenda" class="form-control" />
                    <span asp-validation-for="DataVenda" class="text-danger"></span>
                </div>
            </div>
            <div class="col-12 col-md-7 mt-2 Titulos">

                <div class="form-group">
                    <label asp-for="ValorTotal" class="control-label"></label>
                    <input asp-for="ValorTotal" class="form-control" />
                    <span asp-validation-for="ValorTotal" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-md-4 mt-4">
                <a class="btn btnSalVol" asp-action="Index">Voltar</a>
            </div>
            <div class="col-10 col-md mt-4">
            </div>
            <div class="col col-md-1 mt-4">
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btnSalVol" />
                </div>
            </div>
        </div>

    </div>
    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
